h1, 
h2, 
p, 
footer {
  text-align: center;
}

a,
img {
  margin: 0;
}

.contacts p {
  font-style: italic;
}

.footer ul {
  list-style: none;
}

.footer li {
  display: inline;
  margin-right: 10px;
}
